<footer class="metro">

  <div class="container">
    <nav class="site-map">
      <ul class="footer-links">
        <li>
          <%= link_to "Home", "/index.html" %>
        </li><li>
          <%= link_to "Services", "/services.html" %>
        </li><li>
          <%= link_to "Approach", "/approach.html" %>
        </li><li>
          <%= link_to "Webfolio", "/webfolio.html" %>
        </li><li>
          <%= link_to "Story", "/story.html" %>
        </li><li>
          <%= link_to "Technologies", "/web-technologies.html" %>
        </li><li>
          <%= link_to "InSites", "/insites.html" %>
        </li><li>
          <%= link_to "Contact", "/contact.html" %>
        </li>
      </ul>
      <hr>
    </nav>
  </div>

  <div class="container">
    <section class="copyright">
      <p>
        &copy; 2008 &#8212; <%= Time.now.year %> Cascading Media, LLC
      </p>
    </section>
    <section class="crafter">
      <p>
        <%= link_to "Website Handcrafted by Cascading Media", "/" %>
      </p>
    </section>
  </div>

</footer>