<nav class="right-off-canvas-menu hide-for-large-up hide-ie8">
  <ul class="off-canvas-list">
    <li><%= link_to "Home", "/" %></li>
    <li><label>Cascading Media</label></li>
    <li><%= link_to "Services", "#" %></li>
    <li><%= link_to "Approach", "/approach.html" %></li>
    <li><%= link_to "Standards", "#" %></li>
    <li><%= link_to "Webfolio", "#" %></li>
    <li><%= link_to "Story", "#" %></li>
    <li><label>Connect</label></li>
    <li><%= link_to "Contact", "#" %></li>
    <li><%= link_to "Portals", "#" %></li>
    <li><%= link_to "Insites", "#" %></li>
  </ul>
</nav>