<nav>
  <ul class="wide-nav">
    <li class="wide-nav-item">
      <%= link_to "Services", "#", class: "wide-nav-button" %>
    </li>
    <li class="wide-nav-item">
      <%= link_to "Approach", "#", class: "wide-nav-button" %>
    </li>
    <li class="wide-nav-item">
      <%= link_to "Standards", "#", class: "wide-nav-button" %>
    </li>
    <li class="wide-nav-item">
      <%= link_to "Webfolio", "#", class: "wide-nav-button" %>
    </li>
    <li class="wide-nav-item">
      <%= link_to "Story", "#", class: "wide-nav-button" %>
    </li>
    <li class="wide-nav-item">
      <%= link_to "Connect", "#", class: "wide-nav-button" %>
    </li>
  </ul>
</nav>