---
title: Approach
description: Our first step is to clearly define your project’s high level goals and to provide direction for all subsequent phases of development.
---

<header id="approach" class="light-gray">
  <div class="page-title">
    <h1>Approach</h1>
    <h3 class="subheader">Our design and development process.</h3>
  </div>
</header>

<section id="define" class="ruby">
  <div class="row">

    <h2>Define</h2>
    <p>Our first step is to clearly define your project’s high level goals and to provide direction for all subsequent phases of development. This information becomes the foundation of your project&#8217;s <em>creative brief</em>.</p>

    <div class="large-6 columns">

      <%= image_tag("approach/briefcase.svg", 
      alt: "briefcase", 
      class: "approach-icon") %>

      <h3>Creative Brief</h3>

      <p>A good creative brief is no more than a few pages, or slides, in length and describes the strategic objectives of your project. It will then go on to address important issues such as the project’s relevant background, audience, desired tone, message, restrictions, milestones, schedule and budget. The final and possibly most important section is how you define and plan to measure the project&#8217;s success.</p>

      <p>If you are able to provide the information we need to complete your creative brief, the time invoiced for this work can be minimized. If not, we can assist in flushing out the necessary details. Before moving on, all stakeholders will be asked to formally approve the final creative brief.</p>

    </div><div class="large-6 columns">

      <%= image_tag("approach/erd.svg", 
      alt: "Simulated Entity-Relationship Diagram", 
      class: "approach-icon") %>

      <h3>Structure</h3>

      <p>Using the creative brief as our guide, the next step is to structure your content and/or data models, depending on the nature of your project.</p>

      <p>Site maps are essentially hierarchical outlines used to describe the structure of content driven websites. For web applications, ERDs (Entity-Relationship Diagrams) depict the data or information that will later be implemented as a relational database.</p>

      <p>Whether your project is simple or complex, thinking though its structure is a critical aspect of success. Documenting structure flushes out details that otherwise might be overlooked and ensures all parties share a common vision before moving forward. In the end, this effort saves a great deal of time and money.</p>

    </div>
  </div>
</section>

<section id="write" class="white">
  <div class="row">

    <h2>Write</h2>
    <p>For projects that require new content, this is our typical production process. If all content has been provided, then we move on to the &#8220;Construct&#8221; phase further below.</p>

      <div class="medium-6 large-4 columns">
        <%= image_tag("approach/irs-rep.svg", 
        alt: "IRS Representative", 
        class: "approach-icon") %>
        <h3>1. Audit</h3>
        <p>Review existing content and outline what needs to be created.</p>
      </div>

      <div class="medium-6 large-4 columns">
        <%= image_tag("approach/notebook-computer.svg", 
        alt: "Notebook computer displaying research material.", 
        class: "approach-icon") %>
        <h3>2. Research</h3>
        <p>Capture information, facts, quotes and resources that support the primary and secondary messages.</p>
      </div>

      <div class="medium-6 large-4 columns">
        <%= image_tag("approach/pen.svg", 
        alt: "Pen ready to write.", 
        class: "approach-icon") %>
        <h3>3. Draft</h3>
        <p>Now we are ready to write copy and structure pages with relevant components, such as subheadings, lists and links.</p>
      </div>

      <div class="medium-6 large-4 columns">
        <%= image_tag("approach/eye-spectrum.svg", 
        alt: "Human eye surrounded by a full spectrum of color.", 
        class: "approach-icon") %>
        <h3>4. Visualize</h3>
        <p>Because most people only scan over websites until something catches their eye, visually engaging images are critical. Once the copy is ready, we then look for ways to visualize its message.</p>
      </div>

      <div class="medium-6 large-4 columns">
        <%= image_tag("approach/revise.svg", 
        alt: "Arrows creating a circular loop.", 
        class: "approach-icon") %>
        <h3>5. Revise</h3>
        <p>Feedback is gathered from stakeholders and based on this input, content is refined. Edits are tracked and communicated. Several iterations may take place to sculpt the content into its final form.</p>
      </div>

      <div class="medium-6 large-4 columns">
        <%= image_tag("approach/thumbs-up.svg", 
        alt: "Hand giving a thumbs-up.", 
        class: "approach-icon") %>
        <h3>6. Approve</h3>
        <p>The revised content is reviewed and approved by stakeholders cited in the creative brief.</p>
      </div>

  </div>
</section>

<section id="construct" class="ruby">
  <div class="row">
    <h2>Construct</h2>

      <div class="medium-6 large-4 columns">

        <%= image_tag("approach/prototype.svg", 
        alt: "Designing a Prototype", 
        class: "approach-icon") %>

        <h3>Prototype</h3>

        <p>We begin by converting your project&#8217;s structure into a visual layout for small devices like smart phones. Then we move up to tablet-size layouts and finally wide desktop displays. This <a href="http://www.lukew.com/resources/mobile_first.asp" target="_blank">Mobile First</a> design process encourages prioritization and leads to more effective user interfaces on all devices.</p>

        <p>Once the layout is established, we turn our attention to the color palette, typography, animations and other styling details. If more advanced interactivity is desired, it is normally done after all other aspects of the prototype have been worked out.</p>

      </div>
      <div class="medium-6 large-4 columns">

        <%= image_tag("approach/build.svg", 
        alt: "Wrench and Screwdriver", 
        class: "approach-icon") %>

        <h3>Build</h3>

        <p>If your project is a site, the next step is to build out production ready code by producing clean, semantic markup and removing unnecessary styles and scripts. We then help your site load faster by minimizing HTTP requests and compressing the final code plus supporting assets.</p>

        <p>If your project is a web application, the prototype is built into database models, view templates and application controllers. This is known as an MVC (Model-view-controller) software architectural pattern. Learn more about the <a href="/web-technologies">web technologies</a> Cascading Media employs.</p>

      </div>
      <div class="medium-12 large-4 columns">

        <%= image_tag("approach/test.svg", 
        alt: "Search for Bugs", 
        class: "approach-icon") %>

        <h3>Test</h3>

        <p>Look no further than the initial rollout of healthcare.gov for an example of management overlooking, ignoring or misunderstanding the need to test. We don’t want this to happen to your website, which is why testing is such an important part of our process.</p>

        <p>Because Cascading Media produces prototypes that web browsers understand, we are continuously testing large portions of code very early in the process. For web applications, <a href="https://en.wikipedia.org/wiki/Test-driven_development" target="_blank">Test-driven development (TDD)</a> practices are used when appropriate and practical.</p>

      </div>
  </div>
</section>

<section id="launch" class="white">
  <div class="row">
    <h2>Launch</h2>

      <div class="medium-6 large-4 columns">

        <%= image_tag("approach/rocket.svg", 
        alt: "Rocket Launching", 
        class: "approach-icon") %>

        <h3>Deploy</h3>
        <p>Before your new site can be released to the public, the codebase must be deployed to production web server(s). Web applications also require a database, application server and possibly load balancers to function. Cascading Media has the capacity to handle this for you via our <a href="/services#cascading-cloud">Cascading Cloud</a> service.</p>

      </div>
      <div class="medium-6 large-4 columns">

        <%= image_tag("approach/binoculars.svg", 
        alt: "Binoculars", 
        class: "approach-icon") %>

        <h3>Search Engine Indices</h3>
        <p>To ensure no search engine traffic is lost, legacy URLs from your old website will be redirected to the most appropriate URL on your new website. For performance reasons, we recommend configuring these redirects through Nginx and not the web application itself.</p>

      </div>
      <div class="medium-12 large-4 columns">

        <%= image_tag("approach/dns.svg", 
        alt: "Globe of interconnected lines.", 
        class: "approach-icon") %>

        <h3>DNS</h3>
        <p>The Address records of a domain control where requests are directed across the public <a href="https://en.wikipedia.org/wiki/Dns" target="_blank">DNS (Domain Name System)</a>. Updating the Address records will redirect public traffic to the new server and your website is live! Email is controlled by the domain’s MX (Mail Exchanger) records and should be handled by a separate server.</p>

      </div>

  </div>
</section>

<section id="improve" class="ruby">
  <div class="container">

    <%= image_tag("approach/improve.svg", 
    alt: "Arrow pointing up and off the charts.", 
    class: "approach-icon") %>

    <h2>Improve</h2>
    <p>After your new website is live, Cascading Media is still here for you. At a minimum, we schedule time to review security patches that might be required for either your web server or application code. We also maintain a development copy of your website to test new features and improvements before applying them to your pubic website.</p>

  </div>
</section>
