---
priority: 1.0
change_frequency: weekly
---

<section class="light-gray"><div class="wide-container">
  
  <div class="r6ix-feature-container">
    <div class="r6ix-feature">
      <a href="/services">
        <%= image_tag("services/responsive-web-design.svg", 
          alt: "Website design displayed on an array of devices.", 
          id: "responsive-web-design") %>
        <!--[if lte IE 8]>
          <%= image_tag("r6ix/responsive-web-design.png", 
            alt: "Website design displayed on an array of devices.") %>
        <![endif]-->
        <h3>Responsive Web Design</h3>
      </a>
      <p>Cascading Media builds websites that are optimized for all major smart phones, tablet computers and modern desktop browsers. This begins with our <em>Mobile First</em> approach to design, is carried into our coding process and ends with thorough testing across all major platforms.</p>
      <%= link_to("Services", "services.html", class: "button") %>
    </div>
  </div>

  <div class="r6ix-feature-container">
    <div class="r6ix-feature">
      <a href="/approach">
        <%= image_tag("approach/professional-practices.svg", 
          alt: "Gears with HTML tags on either side.", 
          id: "professional-practices") %>
        <!--[if lte IE 8]>
          <%= image_tag("r6ix/professional-practices.png", 
            alt: "Gears with HTML tags on either side.") %>
        <![endif]-->
        <h3>Professional Practices</h3>
      </a>
      <p>Without structure, the creative process easily spins into chaos. Too much structure and originality suffers. By hiring Cascading Media, your project immediately benefits from years of real-world web development experience and a structured, yet flexible approach to the work.</p>
      <%= link_to("Approach", "approach.html", class: "button") %>
    </div>
  </div>

  <div class="r6ix-feature-container">
    <div class="r6ix-feature">
      <a href="/web-technologies">
        <%= image_tag("approach/leading-edge-web-technologies.svg", 
          alt: "HTML5 and related web technologies.", 
          id: "leading-edge") %>
        <!--[if lte IE 8]>
          <%= image_tag("r6ix/leading-edge-technologies.png", 
            alt: "HTML5 and related web technologies.") %>
        <![endif]-->
        <h3>Leading-Edge Technologies</h3>
      </a>
      <p>Cascading Media employs only the most modern web standards, frameworks and code libraries. Leading-edge technologies like HTML5, Sass (CSS3), jQuery, Ruby, PostgreSQL, Nginx, Web Fonts, SVG and High DPI (retina) images are standard practice at Cascading Media.</p>
      <%= link_to("Technologies", "web-technologies.html", class: "button") %>
    </div>
  </div>

</div></section><section class="ruby"><div class="container">

  <h2>Client Testimonials</h2>

  <div class="large-4 columns">
    <blockquote>
      "It's my goal as an audio engineer/producer to exceed expectations. In Cascading Media, I have found a group of industry professionals who share this goal. Their attention to detail is incredible, depth of knowledge refreshingly complete. They genuinely listen to my ideas, and consistently exceed my expectations."
      <cite>Allan Blackwell, Southwest Recording Service</cite>
    </blockquote>
  </div>

  <div class="large-4 columns">
    <blockquote>
      "We have worked with Cascading Media for the design and development of not only our own website, but the websites of several clients we represent. Simply put, Cascading Media is fantastic from start to finish! They work closely with each client and stay in constant contact during the entire process. Their creative designs give each client unique visual branding and I would highly recommend Cascading Media to any business looking for a great website at an affordable price."
      <cite>Sandra Noll, Colorado Springs Marketing</cite>
    </blockquote>
  </div>

  <div class="large-4 columns">
    <blockquote>
      "It was such a pleasure to work with Cascading Media! The website they developed exceeded our expectations and is truly a one-of-a-kind design. The services and final product we received from Cascading Media were excellent! We would recommend them for anyone looking to get a great website designed by a great team."
      <cite>Kelly &amp; John Kohr, Mentor Ohio</cite>
    </blockquote>
  </div>

</div></section><section class="white"><div class="container">

  <div class="r6ix-plus">
    <h2>Story</h2>
    <p>Cascading Media, LLC was created on October 23, 2008...</p>
    <%= link_to("Continue Reading Our Story", "story.html", class: "button") %>
  </div>

  <div class="r6ix-plus">
    <h2>Work</h2>
    <p>Take a look at a few samples from our web design portfolio.</p>
    <%= link_to("Webfolio", "webfolio.html", class: "button") %> 
  </div>

  <div class="r6ix-plus">
    <h2>Contact</h2>
    <p>Have a web development project that we could help with?</p>
    <%= link_to("Contact Cascading Media", "contact.html", class: "button") %>
  </div>

</div></section>

<section class="ruby">
  <div class="narrow-container">
<% blog.articles[0...1].each do |article| %>
  <div class="insite-snippet">
    <header>
      <h4>Latest from our InSites Blog</h4>
      <h2>
        <a href="<%= article.url %>"><%= article.title %></a>
      </h2>
      <h4>
        Published <time><%= article.date.strftime('%B %e, %Y') %></time>
      </h4>
    </header>

    <article>
      <p><%= article.data.insite_summary %></p>
    </article>

    <footer>
      <%= link_to("Read #{article.title}", article.url, class: "button") %>
      <%= link_to("Other InSite Articles", "/insites.html", class: "button") %>
    </footer>
  </div>
<% end %>

  </div>
</section>
