---
title: inSites
subtitle: Insightful advice to make the most of your website.
description: Cascading Media's blog.
---

<% blog.articles.each do |article| %>
  <section>
    <h1>
      <a href="<%= article.url %>"><%= article.title %></a>
    </h1>
    <h3>
      <time><%= article.date.strftime('%b %e %Y') %></time>
    </h3>

    <%= article.summary %>

    <%= link_to("Read Full Article", article.url, class: "button") %>
  </section>
  <hr>
<% end %>
