---
title: InSites
subtitle: Promoting greater comprehension of the Web.
description: Cascading Media promoting greater comprehension of the Web.

priority: 0.9
change_frequency: weekly
---

<% blog.articles.each do |article| %>
  <section class="insite-snippet">
    <header>
      <h1>
        <a href="<%= article.url %>"><%= article.title %></a>
      </h1>
      <h3>
        <time><%= article.date.strftime('%B %e, %Y') %></time>
      </h3>
    </header>

    <article>
      <p><%= article.data.insite_summary %></p>
    </article>

    <footer>
      <%= link_to("Read #{article.title}", article.url, class: "insite-button") %>
    </footer>
  </section>
<% end %>
