---
title: Story
description: Cascading Media, LLC was created on October 23, 2008 by Benjamin Patch while serving with the US Army during his third combat tour in Iraq.
---

<header id="story" class="light-gray">
  <div class="page-title">
    <h1>Story</h1>
    <h3 class="subheader">Get to know Cascading Media.</h3>
  </div>
</header>

<section id="origins" class="ruby"><div class="row">

  <h2>Origins</h2>

  <p>Cascading Media, LLC was created on October 23, 2008 by Benjamin Patch while serving with the US Army during his third combat tour in Iraq. The LLC (Limited Liability Company) paperwork was filed over the Internet with the state of Colorado in preparation for Benjamin&#8217;s return to Colorado Springs in early 2009.</p>

  <figure>
    <%= image_tag("military/benjamin-patch-special-forces-iraq-2008.jpg", 
    alt: "Benjamin Patch with 10th Special Forces Group in Iraq.") %>
    <figcaption>
      <strong>Iraq 2008</strong> &#8211; Bravo Company Advanced Operating Base, 3rd Battalion, 10th Special Forces Group. 
      <br>SGT Patch was assigned to this unit during his second and third deployments to Iraq (2007 &amp; 2008). During those times he provided direct Intelligence support for six Special Forces teams. He is on the far left side in the front row.
    </figcaption>
  </figure>

  <p>While still serving as an Intelligence Analyst for 10th Special Forces Group out of Fort Carson, Colorado, Benjamin was also running Cascading Media with any time he could spare. In August 2009, Sergeant Benjamin Patch was honorably discharged from the US Army, completing his six and half years of service, three combat tours to Iraq and a two-year overseas tour in Germany. From that point forward, Benjamin has been running Cascading Media full time.</p>

</div></section><section id="tech" class="white"><div class="row">

  <h2>Technical Background</h2>

  <p>While serving in the US Army, Benjamin Patch gained valuable real world experience building and maintaining secure military networks certified for classified information up to the Top Secret/SCI level.  This fueled Benjamin's curiosity and desire to understand computers and databases at a deeper level, so he began teaching himself several programming languages such as PHP, Ruby, Python and JavaScript.  In combination with HTML and CSS, these programing languages form the basis of most modern web applications.</p>

  <figure>
    <%= image_tag("military/benjamin-patch-syscon-crew-germany.jpg", 
    alt: "Benjamin Patch with the 1st Armored Division's SYSCON crew.") %>
    <figcaption>
      <strong>Germany 2005</strong> &#8211; The SYSCON crew. 
      <br>SYSCON (systems connectivity) provided Information Technology support for the Analysis and Control Element of the 1st Armored Division. 
      <br>Specialist Patch is on the far right side in the front row.
    </figcaption>
  </figure><figure>
    <%= image_tag("military/benjamin-patch-iraq-2004.jpg", 
    alt: "Benjamin Patch guarding a 1st Armored Division convoy in Iraq.") %>
    <figcaption>
      <strong>Iraq 2004</strong> &#8211; During the first of his three deployments to Iraq, PFC Patch is seen guarding a 1st Armored Division convoy moving from Baghdad to Kuwait as the unit completed its mission in the region.
    </figcaption>
  </figure>

  <h2>Web Technologies</h2>

  <p>In the beginning, Cascading Media adopted an approach to web development involving the customization of content management systems like Drupal, WordPress and Joomla. These systems are all written in a programming language called PHP. While there is nothing inherently wrong with PHP, Benjamin Patch felt that other languages such as Ruby and Python offered a more enjoyable and productive workflow.</p>

  <p>After an exhaustive evaluation spanning more than eighteen months, Ruby was chosen as the basis of all future web application projects that Cascading Media accepted. Ruby, in combination with the Rails web development framework (also called <em>Ruby on Rails</em>), enables Cascading Media to deliver more sophisticated applications in less time than previously possible. To learn more about the web technologies employed by Cascading Media, please see the <a href="/web-technologies">Technologies</a> page.</p>

</div></section><section id="creative" class="ruby"><div class="row">

  <h2>Creative Background</h2>

  <p>Prior to his military service, Benjamin developed a strong interest in creative writing and filmmaking. While he never produced a feature length film, Benjamin did produce, direct and edit several short films based on his screenplays. This artistic side of Benjamin&#8217;s personality is a valuable asset when developing visual designs and writing copy for websites.</p>

  <figure>
    <%= image_tag("filmmaking/benjamin-patch-shooting-short-film.jpg", 
    alt: "Benjamin Patch shooting video from a low angle.") %>
    <figcaption>
      Benjamin Patch shooting one of his short films.
    </figcaption>
  </figure><figure>
    <%= image_tag("filmmaking/adam-zeidler-three-point-lighting.jpg", 
    alt: "Adam Zeidler assisting Benjamin Patch with a three-point lighting setup.") %>
    <figcaption>
      Adam Zeidler assisting with a three-point lighting setup.
    </figcaption>
  </figure><figure>
    <%= image_tag("filmmaking/benjamin-patch-footage-review.jpg", 
    alt: "Benjamin Patch reviewing footage with a member of the film crew.") %>
    <figcaption>
      Reviewing footage with a member of the film crew.
    </figcaption>
  </figure>

</div></section><section id="trusted-specialists" class="white"><div class="container">

  <div class="copy-container">
    <h2>Trusted Network of Specialists</h2>
    <p>While Benjamin Patch is currently the core of Cascading Media, he routinely works with a close network of other professionals who specialize in fields Benjamin has less experience with. This allows Cascading Media to deliver high quality services for a greater range of project types than would otherwise be practical.</p>
  </div>

  <figure>
    <%= image_tag("r6ix/network-of-specialists.svg", 
    alt: "Cascading Media at the center of a network of techincal and creative specialists.", 
    id: "network-of-specialists") %>
  </figure>

</div></section><section id="personal-touch" class="ruby"><div class="row">

  <h2>Personal Touch</h2>

  <p>Beyond computer programming and human interface design, Benjamin Patch has a wide range of interests including astronomy, film scores, US domestic and international affairs. When not running Cascading Media, Benjamin enjoys challenging himself with a combination of cardiovascular and P90X strength training workouts. Benjamin has recently picked up a new hobby of straight razor shaving, although his razor burn tells him this skill is far from perfected.</p>

  <p>Benjamin currently lives in Madison, Wisconsin with his beautiful girlfriend, Dr. Leslie Wei &#8211; Oculoplastics Fellow at the University of Wisconsin.</p>

  <figure>
    <%= image_tag("personal/benjamin-patch-out-with-leslie-wei.jpg", 
    alt: "Benjamin Patch out to dinner with Leslie Wei.") %>
    <figcaption>
      Benjamin Patch out to dinner with his beautiful girlfriend, Leslie Wei.
    </figcaption>
  </figure><figure>
    <%= image_tag("personal/benjamin-patch-leslie-paddling-across-eagle-harbor-wi.jpg", 
    alt: "Benjamin Patch and Leslie Wei paddling across Eagle Harbor, Wisconsin.") %>
    <figcaption>
      Paddling across Eagle Harbor &#8211; near Peninsula State Park, Wisconsin.
    </figcaption>
  </figure><figure>
    <%= image_tag("personal/benjamin-patch-leslie-hiking-colorado-rockies.jpg", 
    alt: "Benjamin Patch and Leslie Wei hiking the snow covered Colorado Rockies.") %>
    <figcaption>
      Hiking the snow covered Colorado Rockies.
    </figcaption>
  </figure>

</div></section>
